<div class="content">
  <h2 class="headline">
    Need Help?
  </h2>
  <p>
    Please feel free to <%= mail_to 'idcard@artona.com', 'contact us', class: 'link link--dark link--underlined' %>
    if you have any questions.
  </p>
</div>