<h2>Node & Phrase Name Guide</h2>
<p>Please follow the following guide for autofill to work properly (case sensitive). Applies to both nodes and phrases unless otherwise specified.</p>
<p><strong>Please note that all photo nodes should be created with a 'identifier' junior field.</strong></p>
</p>
<p>Node/Phrase Name - (junior field) - 'Sample Value'</p>
<ul>
  <li>First Name - (first_name) - 'John' </li>
  <li>Last Name - (last_name) - 'Doe' </li>
  <li>Name (Lastname, Firstname) - (leave junior field empty) - 'Doe, John' <strong>Phrases Only</strong></li>
  <li>Name (First and Last) - (leave junior field empty) - 'John Doe' <strong>Phrases Only</strong></li>
  <li>Grade - (current_grade) - '11'</li>
  <li>Student ID # -  (subject_number)- '123456'</li>
  <li>Homeroom - (homeroom) - 'E11R'</li>
</ul>

<p><strong>If the field you want to create does not fall under any of the above formats, please leave the junior field blank.</strong></p>
