<div class="registrations-confirmation">
  <div class="hero" style="background-image: none;">
    <div class="hero__cycle">
      <% @school.photos.map(&:file_name).each do |photo_url| %>
        <div class="hero__image", style="background-image: url(<%= photo_url  %>);"></div>
      <% end %>
    </div>
    <div class="hero__gradient"></div>
    <div class="container">
      <div class="hero__content hero__content--large hero__content--left">
        <%= image_tag @school.logo_photo, class: 'hero__title-logo' %>
        <h1 class="hero__title headline headline--white headline--regular headline--outlined">Registration Confirmation</h1>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container center">
      <h2 class="headline">Registration Received</h2>

      <p>
        Thank you!
      </p>

      <p>
        <%= link_to 'Back to school', school_path(@school.code), class: 'link link--button link--button-maroon' %>
      </p>
    </div>
  </div>
</div>
