<div class="content">
  <h2 class="headline">
    Need Help?
  </h2>
  <p>
    Please feel free to <%= link_to 'contact us', contact_static_path, class: 'link link--dark link--underlined' %>
    if you have any questions.
  </p>
</div>
