<div class="static-about">
  <div class="hero" style="background-image: url(<%= image_path('heroes/artona.png') %>)">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="hero__title">About Us</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="container">
        <h2 class="headline">Our Image Is Built On Yours</h2>
        <p>
          Artona has become the most trusted name in local graduation photography in Western Canada and maintains a 100% satisfaction guarantee.  Artona is a privately held, family run, BC owned and operated company.
        </p>
        <p>
          John Rak purchased The Artona Group Inc. in Vancouver, BC in 1977 with Mun Kwan Tham. Today the staff is 100 strong including all three second generation members of the Rak family: Michael (General Manager), TJ (Client Relations and Photography Manager), and Amanda (Account Manager).
        </p>
        <p>
          Artona operates a state of the art, five camera room professional studio in the heart of Vancouver. Over 18,000 graduates were photographed at our main studio last year.
        </p>
        <p>
          Artona owns and operates an in-house state of the art printing and production facility in central Vancouver.  This enables fast turnaround and complete control of output quality.
        </p>
        <p>
          As a long standing business with a high profile in Western Canada, Artona abides by all current acceptable business practices and labour rights and is proud to be a partner in the Canadian education community. When we transitioned to a fully digital lab in 2006, we had amassed the largest image bank of negatives in Vancouver. We donated all of the important negatives to the Vancouver Archives at the Vancouver Museum to help retain a part of Vancouver history.
        </p>
        <p><strong>Artona sponsors various charities and causes every year.</strong></p>
        <%= image_tag 'heroes/contact.png', class: 'mural-image' %>
        <blockquote><i>Access to education turns mirrors into windows.</i></blockquote>
        <p>
          If you think we can help and be a part of something impactful in BC’s education community, please reach out to Amanda at <a class="link link--underlined link--dark" href="mailto:amandar@artona.com">amandar@artona.com</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render partial: 'shared/general_help' %>
  </div>
</div>
