<div class="static-community">
  <div class="hero" style="background-image: url(<%= image_path('heroes/find.png') %>)">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="hero__title">Community</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="container">
        <h2 class="headline">Social Responsibilities</h2>
        <p>
          Artona is a major sponsor of the Cinderella Project, You Wear it Well, and The Graduate Wardrobe which support young adults in Vancouver and the Lower Mainland. The Cinderella Project was started to help encourage youth to stay in school and achieve the great milestone of high school graduation. Many of these students are in financial need or are facing overwhelming challenges, and have an opportunity to break the cycle of poverty for themselves and their families.  Students are referred by schools, school counselors, teachers, principals, social services agencies, or from students in home school and alternate programs.  The programs recognize outstanding young people who have succeeded in the face of overwhelming odds and boosts their confidence and self esteem through respect and positive mentorship.
          Each event provides disadvantaged high school graduates with formal attire so they can attend their graduation festivities with pride. Without assistance, these outstanding students could not afford to participate in celebrating this important milestone.
        </p>
        <p>
          Artona supports students in the graduation process by providing complimentary photo sessions and keepsake prints to students. We have supported the Cinderella Project and Princess Project with over $300,000 in services, deliverables, and sponsorship.
        </p>
        <p>
          To read more about the Cinderella Project, including how you can donate your grad formal wear for deserving students, visit: <a class="link link--underlined link--dark" href="http://thecinderellaproject.com/">http://thecinderellaproject.com/</a>.  You can also drop off any of your clean grad and special occasion items to Artona as we are an official collection site.
        </p>
        <p>
          Testimonials:
          <ul>
            <li>
              <p>
                “Good morning,
                I wanted to let you know Geoffrey and Luciana were absolutely wonderful at our event on the weekend.  They made each student feel comfortable and the kids were just delighted with their photos.
                Artona really is the icing on the cake of our event.  Without your support it just wouldn't be the same.
                From the bottom of the committee's hearts, a big thank you to you and your staff.  It is a wonderful thing you do for the community.  Those kids had so much fun with Geoffrey and Alicia.
                I am getting feedback from the school counsellors today that the kids are loving their photos - and there were tears shed by some of the students!
                <p>p.s. the local paper did a front page story on our event and they gave Artona a nice shout-out and Geoffrey is in one of the photos!”</p>
              </p>
              <i>Margaret Wills - You Wear It Well...Just For Grads</i>
            </li>
            <li>
              <p>
                “I just wanted to say thank you again for offering your services and sending Riz out to photograph our students. Riz was fantastic and really got the students motivated!  It was a fantastic day and made so much better by having your company there!
                Thank you
              </p>
              <i>Carolyn Burgh - The Graduate Wardrobe”</i>
            </li>
          </ul>
        </p>
        <p>
          We are proud to be the presenting sponsor of NASKARZ (Never Again Steal KarZ) which is an award-winning program focused on high-risk youth in Vancouver’s Inner City. The program has been recognized by government for its high potential to reduce youth crime, and support and propel these same youth toward new opportunities in education, training, and employment. We are pleased to support these young adults on their journeys toward post-secondaries.
        </p>
        <div><strong>Growing Chefs</strong></div>
        <p>
          Sponsored from the Beginning of this program, growing chefs educates young elementary students the importance of food and nutrition.  From school gardens to food preparation, growing chefs meets with school classes for fun and nutritious events. Each lesson uses a combination of discussions, games, and activities to cover themes including urban agriculture, vegetable exploration, cooking, nutrition, garden crafts, and foods around the world
        </p>
        <div><strong>Junior Achievement of BC</strong></div>
        <p>
          Junior Achievement of British Columbia is a non-profit organization providing business education programs for high school youth in an after-school setting supported by volunteer mentors. Artona has done presentations to the business classes and shared challenges and solutions to real day to day problems.  We have also provided feedback to student lead business and business ideas.  Artona opens up its doors to tours and focus groups with student participation.
        </p>
        <div><strong>Co-op students</strong></div>
        <p>
          Each school year Artona partners with many high schools and provides Co-op mentorship in many departments.  Students that are interested in Accounting/Finance, Photography, Digital Imaging and graphics spend days at Artona for work experience side by side our staff.  We usually have a new face in the studio every other week through the whole year working with approximately 35 students a year.
        </p>
        <h2 class="headline">Environmental Responsibilities</h2>
        <p>
          Artona is committed to establishing and maintaining high standards of environmental protection in the photographic industry and aims to be a responsible steward of the environment.
        </p>
        <p>
          All electrical devices used on site are energy-saving CSA approved.  In marketing our products and services, we minimize the use of traditional paper flyers, posters, and mailers. Instead, when appropriate we focus on using digital pieces.  We have dramatically reduced internal paper consumption by integrating electronic data management and work orders.  Our packaging department uses recycled cardboard for shipments and 100% biodegradable plastic bags for customer deliveries.
        </p>
        <p>
          In addition to traditional mixed paper and cardboard recycling, our lab returns spent imaging supplies through the Green World Alliance recycling program. This return and recycling program helps keep millions of pounds of used cartridges and toner containers out of landfills.
        </p>
        <h2 class="headline">Ethical Responsibilities</h2>
        <p>
          Artona employs a diverse and accepting mix of cultures, genders, ages, sexual orientations, religions and fashion senses.  We are an equal opportunity environment.  Our team is a dynamic group of individuals and we promote within based on performance, allowing everyone a fair opportunity to grow within our company.
        </p>
      </div>
    </div>
  </div>
</div>
