<div class="static-about">
  <div class="hero" style="background-image: url(<%= image_path('heroes/artona.png') %>)">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="hero__title">Photo Day Survey</h1>
      </div>
    </div>
  </div>

  <div class="content center">
    <div class="container">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeoT_O5u8ZF42M1uzYygdmVW0skYU5yD2MHHMTcPEQ3Xr5faA/viewform?embedded=true" width="760" height="2200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
</div>
