<div class="static-shipping">
  <div class="hero" style="background-image: url(<%= image_path('heroes/privacy.jpg') %>)">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="hero__title">Shipping Information</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="container">
        <h2 class="headline">Delivery Times</h2>
        <p>
          Domestic First-Class and Standard Post typically take 3-7 business days for
          delivery. When using expedited shipping method such as Purolator express
          post or Canada Post expedited parcel, our warehouse requires one business
          day for order processing, so please expect a Purolator express post or
          Canada Post expedited parcel shipment to arrive two days after the order
          was placed.
        </p>
        <p>
          International orders may experience delays in shipping due to inbound
          and outbound processing. First-Class International and Standard International
          Shipping orders typically take 3-6 weeks for delivery.
        </p>
        <p>
          While Standard International Shipping is conveniently priced, do note that
          it provides limited tracking information. If you wish to track your package
          closely, or at all, we recommend choosing one of the USPS branded shipping
          options.
        </p>

        <h2 class="headline">Holiday Schedule</h2>
        <p>
          We do not ship orders on the following Canadian holidays:
        </p>
        <ul class="list list--vertical list--left-padded  list--disc">
          <li>New Year's Day</li>
          <li>Labour Day</li>
          <li>Thanksgiving</li>
          <li>Rememberance</li>
          <li>Christmas Eve</li>
          <li>Christmas Day</li>
          <li>Boxing Day</li>
        </ul>

        <h2 class="headline">Shipping Rates</h2>
        <p>
          Rates are calculated before checkout is complete, so feel free to try multiple methods for the best fit.
          However, here is a list of some standard rates:
        </p>
        <ul class="list list--vertical">
          <li>
            <strong>Canada</strong> -  $12.50 + taxes as stated on your order form.
          </li>
          <li>
            <strong>United States</strong> -  $15.00 + taxes, please add an additional $2.50 to your order.
          </li>
          <li>
            <strong>Mexico</strong> -  $30.00 + taxes, please add an additional $17.50 to your order.
          </li>
          <li>
            <strong>Other International</strong> -  $70.00 + taxes, please add an additional $57.50 to your order.
          </li>
        </ul>

        <h2 class="headline">Shipping Restrictions</h2>
        <p>
          Please note that Purolator does not ship to PO Boxes. No tracking is available
          for First-Class International Orders.
        </p>

        <h2 class="headline">Customer Service</h2>
        <p>
          <%= link_to 'Contact us', contact_static_path, class: 'link link--dark link--underlined' %> if you need help or
          have any additional questions.
        </p>
      </div>
    </div>
  </div>
</div>
