<div class="static-taxes">
  <div class="hero" style="background-image: url(<%= image_path('heroes/privacy.jpg') %>)">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="hero__title">Taxes</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="container">

        <h3 class="headline healine-sub">British Columbia</h3>
        <p>
          12% Tax applicable, as stated on your order form.
        </p>

        <h3 class="headline healine-sub">Rest of Canada</h3>
        <p>
          5% GST applicable.
        </p>

        <h3 class="headline healine-sub">Other International</h3>
        <p>
          5% GST applicable.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render partial: 'shared/general_help' %>
  </div>
</div>
