<div style="background-color: #F6F6F6; font-family: Helvetica;">
  <div style="margin:0 auto; max-width:560px; background-color: white; padding: 30px;">
    <h1 style="text-align: center; margin-bottom: 50px;">
      New Feedback Received
    </h1>

    <table style="width: 100%; margin-top: 50px; margin-bottom: 50px">
      <tr>
        <td style="border-top: 1px solid #EEEEEE; padding: 7px 0; text-align: left;">Customer Email:</td>
        <td style="border-top: 1px solid #EEEEEE; padding: 7px 0; text-align: right;"><%= @feedback.from_email %></td>
      </tr>
      <tr>
        <td style="border-top: 1px solid #EEEEEE; padding: 7px 0; text-align: left;">Feedback:</td>
        <td style="border-top: 1px solid #EEEEEE; padding: 7px 0; text-align: right;"><%= @feedback.body %></td>
      </tr>
    </table>

    <h4 style="text-align: center;">
      <mark>
      Be sure to reply within 48 hours of the time the feedback was sent.
      </mark>
    </h4>
  </div>
</div>
