<div class="static-help">
  <div class="hero" style="background-image: url(<%= image_path('heroes/help.png') %>)">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="hero__title">Feedback</h1>
      </div>
    </div>
  </div>
  <div class="filter-container filter-container--light">
    <div class="container">
      <h2 class="headline">
        Please let us know how your experience was. We are here to listen!
      </h2>
      <%= render partial: 'feedbacks/form' %>
    </div>
  </div>
</div>
