<div class="feedbacks-confirmation">
  <div class="hero" style="background-image: url(<%= image_path('heroes/location.png') %>)">
    <div class="container">
      <div class="center hero__content hero__content--right">
        <h1 class="hero__title">Feedback Thank You</h1>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <h2 class="headline">Your feedback has been submitted!</h2>
      <p>
        Thank you for providing us with your feedback. We value your feedback and one of our customer service representatives will contact you within 48 hours.
      </p>
    </div>
  </div>

</div>
