<div class="frequently-asked-question-list-item">
  <div class="question">
    <%= frequently_asked_question.question %>
  </div>

  <div class="answer">
    <%= frequently_asked_question.answer&.html_safe %>
  </div>
</div>
